#title {
    text-align: center;
    width: 100%;
    background-color: cornflowerblue;
    color: aliceblue;
    position: fixed;
    top:0;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{ font-size: 3em;}

h2 {text-align: center; text-decoration: underline; font-size: 2.2em;}

.Caption {text-align: center; font-size: 2.1em;}

img{
    width: 40em;
    height: auto;
}